@using TickTask.Client.Enums
@using TickTask.Shared

<BaseModal IsOpen="@IsOpen" IsOpenChanged="@IsOpenChanged" Title="Time for a break">
	@if (!string.IsNullOrEmpty(CountdownTimer.Text))
	{
		<div class="section">

			<h2>@($"{CountdownTimer.Text}")</h2>
		</div>
	}
</BaseModal>

@code {
	[Parameter] public bool IsOpen { get; set; }
	[Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

	[Parameter] public CountdownTimer CountdownTimer { get; set; } = default!;
}


<style>

	<!-- Prevent overflow -->
	h2 {
		word-wrap: break-word;
		overflow-wrap: break-word;
		max-width: 100%;
		white-space: normal;
	}

</style>